
.header {  
    top: 0;
    left: 0;
    right: 0;
    transition: transform 400ms cubic-bezier(.25,.37,.17,.96); 
  }
  
  
  html {
    font-size: 100%;
  }
  
  body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    line-height: 1.45;
    background-color: #FFFFFF;
  }
  
  img {
      max-width:50%;
      height:auto;
  }
  
  a {
    color: var(--color-yellow)
  }
  
  .main {
    margin-left: auto;
    margin-right: auto;
    padding: 70px;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .header {
    padding: .5em 0;
    color: #fff;
    background-color: #863084;
  }
  
  .header ul{
      margin: 0;
      padding: 0;
  }
  
  .logo{
      color: white;
      letter-spacing: 5px;
      font-size: 100%;
  }
  
  .logo a{
      text-decoration: none;
  }
  .navlinks{
      display: flex;
      text-align: center;
      justify-content: space-around;
      width: 35%;
  }
  
  .navlinks a{
      color: white;
      text-decoration: none;
      font-size: 15;
      font-family: 'Open Sans';
  }
  
  .navlinks li{
      list-style: none;
  }
  
  
  
  .banner{
    background-color: #2E052D;
    color: white;
    text-align: center;
    padding: 10px 20px;
  }
  
  .banner a{
      text-decoration: none;
  }
  
  .container{
      display: flex;
      justify-content: space-around;
  
  }
  
  .title {
      font-family: 'Inter';
      display: flex;
      justify-content: space-around;
      text-align: center;
  }
  
  
  .info{
      text-align: justify;
      padding: 25px 50px 60px 100px;
  }
  
  .searchBar{
    align-content: center;
    padding:10px 5px 15px 20px;
    border: #E2E6EB;
    font-size: 17px;
  }
  
  .searchBar input[type=text] {
    float: center;
    padding:10px 5px 15px 20px;
    border: none;
    font-size: 17px;
    border-radius: 10px;
    width: 500px;
  }
  
  .searchBar input[type=text] {
      border: 1px solid #ccc;
    }
  
  .footer {
    position: fixed;
    bottom:0;
    width:100%;
    color: white;
    text-align: center;
    background-color: #2E052D;
    font-family: 'Open Sans';
    font-size: 12px;
  }
  